* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-none {
  display: none !important;
}

/* styles for the room */

.room {
  background-image: url("assets/hall.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.dark-room {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("assets/hall.png");
}

/* styles for the tv */

.tv {
  height: 30vh;
  width: 65vh;
  position: relative;
  top: 25%;
  left: 31.25%;
  outline: 10px solid #000000;
  outline-style: ridge;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.75);
}

.tv .tvbutton {
  height: 5px;
  width: 25px;
  border-radius: 8px;
  position: absolute;
  bottom: -9.5px;
  left: 48%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.75s ease;
  cursor: pointer;
}

.tv .tvbutton.tv-on {
  background-color: #ffffff;
}

.tv .tvbutton.tv-off {
  background-color: #c70039;
}

/* styles for the display */

.tv .display {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 1.25rem;
  font-family: sans-serif;
}

.tv .display .tv-display-video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.tv .display .subscribe-content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.tv .display .subscribe-background {
  position: absolute;
  background-image: url("assets/channel-bg.jpeg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.tv .display .subscribe-button {
  background-color: #dd273f;
  border-radius: 16px;
  padding: 8px;
  border: none;
  color: #ffffff;
  width: 25%;
  cursor: pointer;
}

.tv .display .channel-number {
  position: absolute;
  right: 10px;
  top: 10px;
}

.tv .display .volume-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.tv .display .volume-container span {
  margin: 0 10px;
  width: 20px;
  text-align: right;
}

.tv .display .volume-container input[type="range"] {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 100%);
  height: 15px;
  width: 85%;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.tv .display .volume-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

/* styles for the switchbox */

.switchbox {
  height: 40px;
  width: 60px;
  position: relative;
  display: flex;
  top: 32%;
  left: 68%;
  background: #ffe6e1;
  border: 2px solid #f1b9b6;
  outline: 1px outset #f1b9b6;
}

.dark-switchbox {
  border: 2px solid #555555;
  outline: 1px outset #555555;
}

.switchbox .switch {
  height: 100%;
  width: 20px;
  background: rgba(0, 0, 0, 0.75);
  border: 2px outset rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.switchbox .switch.switch-on {
  background: rgba(0, 0, 0, 0.65);
  border: 2px inset rgba(0, 0, 0, 0.65);
}

/* styles for the remote */

.remote {
  height: 38vh;
  width: 15vh;
  background-color: #333333;
  border-radius: 16px;
  position: absolute;
  bottom: -2%;
  left: 5%;
}

.remote .btn:hover {
  cursor: pointer;
}

.remote .powerbtn {
  height: 30px;
  width: 30px;
  position: relative;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  background-color: #c70039;
  outline: 1px solid #e70039;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remote .sliderbtn-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 15px 15px;
  gap: 10px;
}

.remote .sliderbtn {
  height: 125px;
  top: 45px;
  width: 50px;
  background-color: #111111;
  position: relative;
  border-radius: 14px;
}

.remote .sliderbtn .topbtn,
.remote .sliderbtn .bottombtn {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.remote .sliderbtn .btn-seperator {
  height: 0px;
  border: none;
  border-top: 5px solid #333333;
}

/* styles for the table */

.table {
  height: 16vh;
  width: 40vw;
  background-color: #ffffff;
  position: absolute;
  bottom: 8%;
  left: 30%;
  border: 4px solid #dbcccc;
  outline: 2px outset #dbcccc;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.75);
}

.dark-table {
  background-color: #333333;
  border: 4px solid #555555;
  outline: 2px outset #555555;
}

.table .vl {
  height: 100%;
  border-left: 2px outset #dbcccc;
  border-right: 2px outset #dbcccc;
  position: absolute;
  left: 50%;
}

.dark-table .vl {
  border-left: 2px outset #555555;
  border-right: 2px outset #555555;
}

.action-figures {
  width: 30vw;
  height: 8.5vh;
  position: absolute;
  bottom: 23.5%;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-figure {
  object-fit: scale-down;
  height: 100%;
  width: 20%;
}

/* styles for the speaker */

.big-speaker {
  height: 28vh;
  width: 7vw;
  background-color: #080202;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.75);
  border: 4px outset #61677a;
  position: absolute;
  bottom: 8%;
}

.speaker-circle {
  border-radius: 50%;
  border: 2.5px ridge #333333;
  background-color: #61677a;
  background-image: url("https://www.transparenttextures.com/patterns/dark-fish-skin.png");
}

.left-bottom-speaker {
  left: 18.5%;
}

.right-bottom-speaker {
  right: 18.5%;
}

.big-speaker hr {
  width: 100%;
  border: 2px inset #61677a;
}

.big-speaker hr:first-of-type {
  position: absolute;
  top: 10%;
}

.big-speaker hr:last-child {
  position: absolute;
  bottom: 10%;
}

.big-speaker .speaker-light {
  top: 5px;
  left: 40%;
}

.big-speaker .circles-container {
  position: absolute;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.big-speaker .outer-circle {
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-speaker .inner-circle {
  height: 60px;
  width: 60px;
}

.small-speaker {
  height: 8vh;
  width: 5vw;
  background-color: #080202;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.75);
  border: 4px outset #61677a;
  position: absolute;
  top: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-top-speaker {
  left: 19.5%;
}

.right-top-speaker {
  right: 19.5%;
}

.small-speaker .outer-circle {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-speaker .inner-circle {
  height: 40px;
  width: 40px;
}

.main-speaker {
  height: 5vh;
  width: 30vw;
  background-color: #555555;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.75);
  background-image: url("https://www.transparenttextures.com/patterns/dark-fish-skin.png");
  border: 2px outset #333333;
  position: absolute;
  bottom: 35%;
  left: 35%;
}

.main-speaker .speaker-volume {
  height: 100%;
  width: 30px;
  background-color: #61677a;
  color: #ffffff;
  font-family: "Orbitron";
  border-left: 2px ridge #dbcccc;
  border-right: 2px ridge #dbcccc;
  position: absolute;
  left: 47.25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speaker-light {
  height: 5px;
  width: 25px;
  border-radius: 8px;
  position: absolute;
  bottom: 5px;
  left: 47.7%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.75s ease;
}

.speaker-light.speaker-on {
  background-color: #ffffff;
}

.beating-circle {
  animation: beat 0.5s infinite linear;
}

@keyframes beat {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
