* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles for the roads */

.road-bg {
  background-image: url("./assets/road.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.road {
  position: absolute;
}

.leftways-road {
  height: 12vh;
  width: 100vw;
  top: 52%;
}

.rightways-road {
  height: 12vh;
  width: 100vw;
  top: 37%;
}

.bottomways-road {
  height: 100vh;
  width: 15vw;
  background-color: pink;
  left: 51%;
}

.topways-road {
  height: 100vh;
  width: 15vw;
  background-color: blue;
  left: 35%;
}

/* styles for the car */

.car {
  height: 120px;
  width: 60px;
  position: absolute;
}

.right {
  transform: rotate(90deg);
  left: -10vw;
}

.bottom {
  transform: rotate(180deg);
}

.left {
  transform: rotate(270deg);
  right: -10vw;
}

/* animations for the car */

@keyframes moveleft {
  0% {
    right: var(--start-position);
  }
  100% {
    right: calc(150vw + var(--start-position));
  }
}

@keyframes moveright {
  0% {
    left: var(--start-position);
  }
  100% {
    left: calc(150vw + var(--start-position));
  }
}

@keyframes startleft {
  0% {
    right: -10vw;
  }
  100% {
    right: var(--start-position);
  }
}

@keyframes startright {
  0% {
    left: -10vw;
  }
  100% {
    left: var(--start-position);
  }
}

button {
  position: absolute;
  top: 0;
}
