* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles for the roads */

.road-bg {
  background-image: url("./assets/road.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.road {
  position: absolute;
}

.leftways-road {
  height: 12vh;
  width: 100vw;
  top: 52%;
}

.rightways-road {
  height: 12vh;
  width: 100vw;
  top: 37%;
}

.bottomways-road {
  height: 100vh;
  width: 6vw;
}
.br-lane-1 {
  left: 52%;
}
.br-lane-2 {
  left: 59%;
}

.topways-road {
  height: 100vh;
  width: 6vw;
}
.tr-lane-1 {
  left: 36%;
}
.tr-lane-2 {
  left: 43%;
}

/* styles for the car */

.car {
  height: 120px;
  width: 60px;
  position: absolute;
}

.top1,
.top2 {
  bottom: -20vh;
}

.right {
  transform: rotate(90deg);
  left: -10vw;
}

.bottom1,
.bottom2 {
  transform: rotate(180deg);
  top: -20vh;
}

.left {
  transform: rotate(270deg);
  right: -10vw;
}

/* animations for the car */

@keyframes startleft {
  0% {
    right: -10vw;
  }
  100% {
    right: var(--start-position);
  }
}

@keyframes startright {
  0% {
    left: -10vw;
  }
  100% {
    left: var(--start-position);
  }
}

@keyframes startbottom {
  0% {
    top: -20vh;
  }
  100% {
    top: var(--start-position);
  }
}

@keyframes starttop {
  0% {
    bottom: -20vh;
  }
  100% {
    bottom: var(--start-position);
  }
}

@keyframes moveleft {
  0% {
    right: var(--start-position);
  }
  100% {
    right: calc(150vw + var(--start-position));
  }
}

@keyframes moveright {
  0% {
    left: var(--start-position);
  }
  100% {
    left: calc(150vw + var(--start-position));
  }
}

@keyframes movebottom {
  0% {
    top: var(--start-position);
  }
  100% {
    top: calc(150vh + var(--start-position));
  }
}

@keyframes movetop {
  0% {
    bottom: var(--start-position);
  }
  100% {
    bottom: calc(150vh + var(--start-position));
  }
}

button {
  position: absolute;
  top: 0;
}
