:root {
  --main-red: #ae0a15;
  --dark-red: #920714;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* common styles */

.btn {
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-container {
  flex-direction: column;
}

.btn-label {
  margin-bottom: 10px;
  font-size: 12px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

/* layout styles */

.console {
  height: 80vh;
  width: 80vw;
  border-radius: 5rem;
  background-image: linear-gradient(to right top, #f8c779, #dbaf6e, #bf9962, #a28257, #876d4c);
  border: 1rem solid var(--dark-red);
  outline: 0.5rem outset var(--main-red);
  justify-content: space-between;
  padding: 3rem 5rem;
  overflow: hidden;
}

.game-console {
  height: 100%;
  width: 60%;
  border: 1.25rem outset #dbaf6e;
  background-color: #bf9962;
  gap: 20px;
  flex-direction: column;
}

.controls {
  height: 100%;
  width: 18%;
  flex-direction: column;
  overflow: hidden;
}

/* game console styles */

.game-screen {
  width: 90%;
  height: 70%;
  border: 8px solid var(--main-red);
  border-radius: 8px;
  background-color: #121212;
}

/* left control panel styles */

.volume-controls {
  height: 50%;
  gap: 50px;
}

.volume-buttons {
  flex-direction: column;
  gap: 30px;
}

.volume-btn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: #b0b0b0;
  border: 6px ridge var(--main-red);
  outline: 1px solid #121212;
  cursor: pointer;
}

.volume-btn:hover {
  background: #808080;
}

.volume-bar {
  width: 3rem;
  height: 75%;
  background-color: #2b1b0b;
  display: flex;
  align-items: flex-end;
  border: 4px ridge var(--main-red);
}

.volume-level {
  width: 100%;
  background: var(--main-red);
  height: 50%;
}

.dpad-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 42%;
}

.dpad {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.dpad-btn {
  position: absolute;
  background-color: #b0b0b0;
  height: 33%;
  width: 33%;
  border-color: var(--main-red);
  cursor: pointer;
  outline: none;
}

.dpad-btn.center {
  background-color: #b0b0b0;
  border: 0;
  top: 33%;
  left: 33%;
}

.dpad-btn.up {
  top: 0;
  left: 33%;
  border-width: 6px 6px 0 6px;
  border-radius: 10px 10px 0 0;
}

.dpad-btn.down {
  top: 66%;
  left: 33%;
  border-width: 0 6px 6px 6px;
  border-radius: 0 0 10px 10px;
}

.dpad-btn.left {
  top: 33%;
  left: 0;
  border-width: 6px 0 6px 6px;
  border-radius: 10px 0 0 10px;
}

.dpad-btn.right {
  top: 33%;
  left: 66%;
  border-width: 6px 6px 6px 0;
  border-radius: 0 10px 10px 0;
}

.circle-icon {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 50%;
  background-color: #000;
}

/* right control panel styles */

.power-buttons {
  flex-direction: column;
  height: 50%;
  gap: 20px;
}

.power-btn {
  width: 4rem;
  height: 2.5rem;
  border-radius: 24px;
  background: #404040;
  border: 6px ridge var(--main-red);
  outline: 1px solid #121212;
  margin-bottom: 10px;
}

.power-btn:hover {
  background: #b0b0b0;
}

.play-buttons {
  align-items: flex-end;
  height: 40%;
  gap: 20px;
}

.play-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: radial-gradient(circle at center, var(--main-red) 0%, var(--dark-red) 100%);
  border: 0.5rem ridge var(--main-red);
  outline: 1px solid #121212;
  margin-bottom: 10px;
}

.play-btn:hover {
  background: #ff0000;
}
